In [1]:
import requests
import pandas as pd

c:\Users\datqu\anaconda3\envs\bootcamp\lib\site-packages\requests\__init__.py:104: RequestsDependencyWarning: urllib3 (1.26.9) or chardet (5.0.0)/charset_normalizer (2.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

In [18]:
df2 = pd.read_csv('./data.csv')
unique_ids = df2.tconst.unique()

In [35]:
unique_ids =['tt9916690','tt9916730','tt0000005','tt4154796','tt3896198']

df = pd.DataFrame({'tconst':[],
                       'Rated':[],
                   'Plot':[],
                   'Awards':[],
                   'Metascore':[],
                   'DVD':[],
                   'BoxOffice':[],
                   'Actors':[],
                   'Released':[],
                   'Director':[],
                   'Writer':[],
                   'rating1source':[],'rating1value':[],'rating2source':[],'rating2value':[],'rating3source':[],'rating3value':[]
                   })
for id in unique_ids:

    try:
        url1 = f'http://www.omdbapi.com/?i={id}&apikey=bacb323c'
        omdbdata = requests.get(url1).json()
    except:
        print(f'exception {i}')
        continue
    
    if len(omdbdata['Ratings'])==0:
        rating1source = 0
        rating1value = 0
        rating2source = 0
        rating2value = 0
        rating3source = 0
        rating3value = 0
    if len(omdbdata['Ratings'])==1:
        rating1source = omdbdata['Ratings'][0]['Source']
        rating1value = omdbdata['Ratings'][0]['Value']
        rating2source = 0
        rating2value = 0
        rating3source = 0
        rating3value = 0
    if len(omdbdata['Ratings'])==2:
        rating1source = omdbdata['Ratings'][0]['Source']
        rating1value = omdbdata['Ratings'][0]['Value']
        rating2source = omdbdata['Ratings'][1]['Source']
        rating2value = omdbdata['Ratings'][1]['Value']
        rating3source = 0
        rating3value = 0
    if len(omdbdata['Ratings'])>=3:
        rating1source = omdbdata['Ratings'][0]['Source']
        rating1value = omdbdata['Ratings'][0]['Value']
        rating2source = omdbdata['Ratings'][1]['Source']
        rating2value = omdbdata['Ratings'][1]['Value']
        rating3source = omdbdata['Ratings'][2]['Source']
        rating3value = omdbdata['Ratings'][2]['Value']
    try:
        dvd = omdbdata['DVD']
    except:
        dvd = 0
    try:
        BoxOffice = omdbdata['BoxOffice']
    except:
        BoxOffice = 0    
    try:
        Rated = omdbdata['Rated']
    except:
        Rated = 0  
    try:
        plot = omdbdata['Plot']
    except:
        plot = 0  
    try:
        Awards = omdbdata['Awards']
    except:
        Awards = 0  
    try:
        Metascore = omdbdata['Metascore']
    except:
        Metascore = 0  
    try:
        Actors=omdbdata['Actors']
    except:
        Actors = 0  
    try:
        Released = omdbdata['Released']
    except:
        Released = 0  
    try:
        Director = omdbdata['Director']
    except:
        Director = 0  
    try:
        Writer = omdbdata['Writer']   
    except:
        Writer = 0  

    df = pd.concat([df ,
                        pd.DataFrame([[id,Rated,plot,Awards,Metascore,dvd,
                                       BoxOffice,Actors,Released,Director,Writer,
                                       rating1source,rating1value,rating2source,rating2value,rating3source,rating3value]], 
                                            columns=['tconst','Rated','Plot','Awards','Metascore','DVD',
                                                    'BoxOffice','Actors','Released','Director','Writer',
                                                    'rating1source','rating1value','rating2source','rating2value','rating3source','rating3value']) ])

,tconst,Rated,Plot,Awards,Metascore,DVD,BoxOffice,Actors,Released,Director,Writer,rating1source,rating1value,rating2source,rating2value,rating3source,rating3value
0,tt9916690,N/A,One horrid move too far and Horrid Horrid Henr...,N/A,N/A,0.0,0.0,"Aidan Cook, Sue Elliott-Nichols, Wayne Foreste...",11 Aug 2012,Hilary Audus,"Lucinda Whiteley, Francesca Simon (books)",Internet Movie Database,6.6/10,0.0,0.0,0.0,0.0
0,tt9916730,N/A,Vidya Sarvade is a topper of Adarsh Vidyalaya....,N/A,N/A,N/A,N/A,"Sunil Barve, Archit Deodhar, Bhushan Pradhan, ...",14 Apr 2017,Kiran Gawade,Kiran Gawade,0,0,0.0,0.0,0.0,0.0
0,tt0000005,Unrated,Three men hammer on an anvil and pass a bottle...,1 win,N/A,N/A,N/A,"Charles Kayser, John Ott",09 May 1893,William K.L. Dickson,N/A,Internet Movie Database,6.2/10,0.0,0.0,0.0,0.0
0,tt4154796,PG-13,After the devastating events of Avengers: Infi...,Nominated for 1 Oscar. 70 wins & 132 nominatio...,78,30 Jul 2019,"$858,373,000","Robert Downey Jr., Chris Evans, Mark Ruffalo",26 Apr 2019,"Anthony Russo, Joe Russo","Christopher Markus, Stephen McFeely, Stan Lee",Internet Movie Database,8.4/10,Rotten Tomatoes,94%,Metacritic,78/100
0,tt3896198,PG-13,The Guardians struggle to keep together as a t...,Nominated for 1 Oscar. 15 wins & 59 nomination...,67,22 Aug 2017,"$389,813,101","Chris Pratt, Zoe Saldana, Dave Bautista",05 May 2017,James Gunn,"James Gunn, Dan Abnett, Andy Lanning",Internet Movie Database,7.6/10,Rotten Tomatoes,85%,Metacritic,67/100

In [26]:
id = 'tt4154796'
try:
    url1 = f'http://www.omdbapi.com/?i={id}&apikey=bacb323c'
    omdbdata = requests.get(url1).json()
except:
    print(f'exception {id}')

In [33]:
omdbdata

{'Title': 'Horrid Henry Delivers the Milk',
 'Year': '2012',
 'Rated': 'N/A',
 'Released': '11 Aug 2012',
 'Season': '3',
 'Episode': '47',
 'Runtime': '10 min',
 'Genre': 'Animation, Comedy, Family, Fantasy, Music',
 'Director': 'Hilary Audus',
 'Writer': 'Lucinda Whiteley, Francesca Simon (books)',
 'Actors': 'Aidan Cook, Sue Elliott-Nichols, Wayne Forester, Eden Gamliel',
 'Plot': "One horrid move too far and Horrid Horrid Henry finds he's got a new job, which means getting up very early indeed.",
 'Language': 'N/A',
 'Country': 'N/A',
 'Awards': 'N/A',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BZjVlNTk0ODUtZGFkYi00YjAyLWIxOTctOTA1ZWY2NzFjYzhhXkEyXkFqcGdeQXVyNzg1MzQ1MzY@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.6/10'}],
 'Metascore': 'N/A',
 'imdbRating': '6.6',
 'imdbVotes': '5',
 'imdbID': 'tt9916690',
 'seriesID': 'tt0985991',
 'Type': 'episode',
 'Response': 'True'}

Internet Movie Database 8.4/10 Rotten Tomatoes 94% Metacritic 78/100