In [23]:
import pandas as pd
import pandas as pd
import requests
import json
import pprint

In [24]:
df4.iloc[:,0:2]

           tconst titleType
2890    tt0013274     movie
3479    tt0015414     movie
3582    tt0015724     movie
16445   tt0035423     movie
18570   tt0038086     movie
...           ...       ...
370980  tt9916270     movie
370981  tt9916362     movie
370982  tt9916428     movie
370983  tt9916460   tvMovie
370984  tt9916544     short

[241066 rows x 2 columns]

In [19]:
df4.to_csv('./data/list_tconst.csv',index=False)

In [2]:
df1 = pd.read_csv('./data/omdb.csv',lineterminator='\n')
df1.info()
# df2 =pd.read_csv('./data/raw_consolidate_data.csv',lineterminator='\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42095 entries, 0 to 42094
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         42095 non-null  object
 1   Rated          9341 non-null   object
 2   Plot           39808 non-null  object
 3   Awards         18314 non-null  object
 4   Metascore      4240 non-null   float64
 5   DVD            14417 non-null  object
 6   BoxOffice      2728 non-null   object
 7   Actors         39237 non-null  object
 8   Released       40581 non-null  object
 9   Director       41816 non-null  object
 10  Writer         36379 non-null  object
 11  rating1source  42095 non-null  object
 12  rating1value   42095 non-null  object
 13  rating2source  42095 non-null  object
 14  rating2value   42095 non-null  object
 15  rating3source  42095 non-null  object
  42095 non-null  object
dtypes: float64(1), object(16)
memory usage: 5.5+ MB

In [15]:
df2 = pd.read_csv('./data/themoviedb.csv',lineterminator='\n')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810009 entries, 0 to 810008
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   themoviedb_id              810009 non-null  float64
 1   imdb_id                    500286 non-null  object
 2   belongs_to_collection      19735 non-null   object
 3   budget                     810009 non-null  float64
 4   popularity                 810004 non-null  float64
 5   original_language          810009 non-null  object
 6   production_companies_name  380750 non-null  object
 7   production_companies_id    380755 non-null  float64
 8   production_countries       489049 non-null  object
 9   revenue                    810009 non-null  float64
 10  status                     810009 non-null  object
 11  vote_average               810004 non-null  float64
 12  vote_count                 810004 non-null  float64
                  810009 non-null  object
dtypes: float64(7), object(7)
memory usage: 86.5+ MB

In [4]:
df3 = pd.read_csv('./data/imdbdata.csv',lineterminator='\n')
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1261834 entries, 0 to 1261833
Data columns (total 17 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   tconst          1261834 non-null  object
 1   titleType       1261834 non-null  object
 2   primaryTitle    1261834 non-null  object
 3   originalTitle   1261834 non-null  object
 4   isAdult         1261834 non-null  int64
 5   startYear       1261834 non-null  int64
 6   endYear         1261834 non-null  int64
 7   runtimeMinutes  1261834 non-null  int64
 8   genres          1261832 non-null  object
 9   averageRating   1261834 non-null  float64
 10  numVotes        1261834 non-null  int64
 11  language        1261834 non-null  float64
 12  directors       1261834 non-null  object
 13  writers         1261834 non-null  object
 14  parentTconst    1261834 non-null  object
 15  seasonNumber    1261834 non-null  int64
 16  episodeNumber   1261834 non-null  int64
dtypes: float64(2), int64(7), object(8)
memory usage: 163.7+ MB

In [5]:
# df3 = pd.read_csv('./data/imdbdata.csv')
# df2 = pd.read_csv('./data/themoviedb.csv')
df2.rename(columns={'imdb_id':'tconst'},inplace=True)
df4= df3.merge(df2,how='outer',on='tconst')

In [6]:
df4

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,...,popularity,original_language,production_companies_name,production_companies_id,production_countries,revenue,status,vote_average,vote_count,overview\r
0,tt0000001,short,Carmencita,Carmencita,0.0,1894.0,0.0,1.0,"Documentary,Short",5.7,...,2.387,xx,Edison Studios,18758.0,US,0.0,Released,5.204,49.0,The first woman to appear in front of an Ediso...
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,0.0,5.0,"Animation,Short",5.8,...,0.600,fr,NaN,NaN,FR,0.0,Released,6.250,8.0,Short film of 300 individually painted images.\r
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0.0,1892.0,0.0,4.0,"Animation,Comedy,Romance",6.5,...,4.538,fr,NaN,NaN,FR,0.0,Released,6.007,73.0,"One night, Arlequin comes to see his lover Col..."
3,tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,0.0,12.0,"Animation,Short",5.6,...,0.991,fr,NaN,NaN,FR,0.0,Released,5.600,5.0,\r
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,0.0,1.0,"Comedy,Short",6.2,...,4.247,xx,Edison Studios,18758.0,US,0.0,Released,5.542,71.0,Three men hammer on an anvil and pass a bottle...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1700853,tt11278708,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.600,ja,Daiei Film,880.0,JP,0.0,Released,0.000,0.0,"Ishimatsu of Mori, from his early days leading..."
1700854,tt4336518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.620,fr,Canal+,104.0,FR,0.0,Released,7.000,1.0,\r
1700855,tt11140466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.600,pt,NaN,NaN,PT,0.0,Released,0.000,0.0,A documentary on those who still remember the ...
1700856,tt9621122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.756,es,NaN,NaN,ES,0.0,Released,10.000,1.0,Breaking up from a relationship is hard. Discu...
1700857,tt10240166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.892,en,Filmiracle Productions,117989.0,US,0.0,Released,0.000,0.0,In the tradition of such classics as NOSFERATU...

In [7]:
df4.to_csv('./data/combined_tableau.csv',index=False)

In [20]:
df4=df4.loc[df4.startYear>1990,:]

In [9]:
df4.to_csv('./data/combined_tableau2.csv',index=False)

In [11]:
# df3 = pd.read_csv('./data/imdbdata.csv')
# df2 = pd.read_csv('./data/themoviedb.csv')
df2.rename(columns={'imdb_id':'tconst'},inplace=True)
df4= df3.merge(df2,how='inner',on='tconst')

In [12]:
df4

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,...,popularity,original_language,production_companies_name,production_companies_id,production_countries,revenue,status,vote_average,vote_count,overview\r
0,tt0000001,short,Carmencita,Carmencita,0,1894,0,1,"Documentary,Short",5.7,...,2.387,xx,Edison Studios,18758.0,US,0.0,Released,5.204,49.0,The first woman to appear in front of an Ediso...
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,0,5,"Animation,Short",5.8,...,0.600,fr,NaN,NaN,FR,0.0,Released,6.250,8.0,Short film of 300 individually painted images.\r
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,0,4,"Animation,Comedy,Romance",6.5,...,4.538,fr,NaN,NaN,FR,0.0,Released,6.007,73.0,"One night, Arlequin comes to see his lover Col..."
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,0,12,"Animation,Short",5.6,...,0.991,fr,NaN,NaN,FR,0.0,Released,5.600,5.0,\r
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,0,1,"Comedy,Short",6.2,...,4.247,xx,Edison Studios,18758.0,US,0.0,Released,5.542,71.0,Three men hammer on an anvil and pass a bottle...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370980,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020,0,84,Thriller,5.8,...,4.751,it,PACO Cinematografica,3110.0,IT,0.0,Released,6.408,395.0,"Dj Steph is a young radio deejay on the rise, ..."
370981,tt9916362,movie,Coven,Akelarre,0,2020,0,92,"Drama,History",6.4,...,6.922,eu,TVE,981.0,AR,0.0,Released,6.761,236.0,"French Basque Country, year 1609. The men of a..."
370982,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,0,0,"Adventure,History,War",3.8,...,0.600,zh,NaN,NaN,CN,0.0,Released,7.000,1.0,\r
370983,tt9916460,tvMovie,Pink Taxi,Pink Taxi,0,2019,0,0,Comedy,9.4,...,0.600,en,Film Lemon,123978.0,GR,0.0,Released,0.000,0.0,One day Apostolis decides that he wants to be ...
370984,tt9916544,short,My Sweet Prince,My Sweet Prince,0,2019,0,12,"Drama,Short",6.9,...,0.600,en,Plimsoll Productions,103619.0,GB,0.0,Released,5.700,3.0,"Alcopops, VHS tapes, cigarettes, boys, MSN Mes..."

In [13]:
df4.loc[df4.startYear>1990,:]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,...,popularity,original_language,production_companies_name,production_companies_id,production_countries,revenue,status,vote_average,vote_count,overview\r
2890,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,0,133,Documentary,6.4,...,0.600,ru,Narkompros,84965.0,SU,0.0,Released,6.000,1.0,The epic story of the Russian Civil War (1918-...
3479,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000,0,60,unknown,5.3,...,0.600,es,Musidora Films,77948.0,ES,0.0,Released,0.000,0.0,\r
3582,tt0015724,movie,Dama de noche,Dama de noche,0,1993,0,102,"Drama,Mystery,Romance",6.1,...,0.600,en,Centro de CapacitaciÃ³n CinematogrÃ¡fica (CCC),14171.0,MX,0.0,Released,7.000,6.0,"Bruno, a novelist with no luck goes to call fo..."
16445,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,0,118,"Comedy,Fantasy,Romance",6.4,...,12.688,en,Miramax,14.0,US,76019048.0,Released,6.321,1145.0,When her scientist ex-boyfriend discovers a po...
18570,tt0038086,movie,Shiva und die Galgenblume,Shiva und die Galgenblume,0,1993,0,0,Thriller,7.0,...,0.925,de,NaN,NaN,DE,0.0,Released,4.000,1.0,\r
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370980,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020,0,84,Thriller,5.8,...,4.751,it,PACO Cinematografica,3110.0,IT,0.0,Released,6.408,395.0,"Dj Steph is a young radio deejay on the rise, ..."
370981,tt9916362,movie,Coven,Akelarre,0,2020,0,92,"Drama,History",6.4,...,6.922,eu,TVE,981.0,AR,0.0,Released,6.761,236.0,"French Basque Country, year 1609. The men of a..."
370982,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,0,0,"Adventure,History,War",3.8,...,0.600,zh,NaN,NaN,CN,0.0,Released,7.000,1.0,\r
370983,tt9916460,tvMovie,Pink Taxi,Pink Taxi,0,2019,0,0,Comedy,9.4,...,0.600,en,Film Lemon,123978.0,GR,0.0,Released,0.000,0.0,One day Apostolis decides that he wants to be ...
370984,tt9916544,short,My Sweet Prince,My Sweet Prince,0,2019,0,12,"Drama,Short",6.9,...,0.600,en,Plimsoll Productions,103619.0,GB,0.0,Released,5.700,3.0,"Alcopops, VHS tapes, cigarettes, boys, MSN Mes..."

In [22]:
df4.to_csv('./data/combined_tableau4.csv',index=False)

In [10]:
movie_url = "https://api.themoviedb.org/3/genre/movie/list?api_key=" + str("api)key=d31aa51f6a9e056a046877d19cc1ff2f") + "&language=en-US=en-US"
movie_genres = requests.get(movie_url).json()['genres']
pprint.pprint(movie_genres)

KeyError: 'genres'